# Gradle 빌드 폴더
/build/
/out/
/.gradle

# IntelliJ IDE 설정
.idea/
*.iml

# Eclipse 설정
.project
.classpath
.settings/

# 자바 컴파일 결과물
*.class

# 환경변수 & 프로퍼티 파일
*.env
application-local.yml
application-dev.yml
application.properties

# 로그 파일
*.log

# OS 파일
.DS_Store
Thumbs.db

# Lombok 설정
lombok.config

# 테스트 결과
/test-output/
